@import "../../../scss/mixins.scss";

.app-button {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 180%;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: var(--yellow);
  color: var(--MainColor);
  padding: {
    top: 10px;
    bottom: 10px;
    left: 30px;
    right: 30px;
  }
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    background-color: var(--yellowHover);
  }
  &__distinctive {
    color: var(--yellow);
    background-color: transparent;
    border: 1px solid var(--yellow);
    transition: 0.3s;
    &:hover {
      background-color: transparent;
      border: 1px solid var(--yellowHover);
      transition: 0.3s;
      color: var(--yellowHover);
    }
  }
  &__unique {
    margin-left: 15px;
    @include for-desktop-HD {
      margin-left: 28px;
    }
  }
  &__another {
    padding: {
      top: 7px;
      bottom: 7px;
      left: 31px;
      right: 31px;
    }
    border-radius: 5px;
    background-color: #3a86ff;
    display: inline-block;
    max-width: 100%;
    color: var(--white);
    &:hover{
      background-color: #2e6dd4;
    }
  }
}
