@import "../../../scss/mixins.scss";

.activity {
  &-container {
    padding-top: 40px;
    @include for-tablet {
      padding-top: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      row-gap: 60px;
    }
    @include for-desktop-HD {
      padding-top: 116px;
      flex-direction: row;
    }
  }
  &__content {
    max-width: 533px;
    @include for-desktop {
      max-width: none;
      width: 533px;
    }
  }
  &__cards {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 22px;
    @include for-tablet {
      width: 558px;
      margin-top: 0px;
    }
  }
}
