@import "../../scss/mixins.scss";

.container {
  padding: {
    top: 15px;
    left: 9px;
    right: 9px;
  }
  @include for-tablet {
    padding: {
      left: 37px;
      right: 37px;
    }
  }
  @include for-desktop {
    padding: {
      left: 65px;
      right: 65px;
    }
  }
  @include for-desktop-HD {
    padding: {
      left: 130px;
      right: 130px;
    }
  }
}
