.app-title-p {
  font-family: var(--fontFamily);
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: var(--gray);
  max-width: 461px;
  margin-top: 35px;
  &__unique {
    font-size: 14px;
  }
  &__distinctive {
    font-size: 14px;
    max-width: 319px;
    margin: {
      left: 56px;
      bottom: 48px;
    }
  }
  &__another {
    margin: 0px;
    font-size: 11px;
    
    color: #838394;
  }
}
