@import "../../scss/mixins.scss";

.process {
  &-container {
    @include for-tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      row-gap: 50px;
    }
    @include for-desktop-HD {
      flex-direction: row;
    }
  }
  &__content {
    max-width: 555px;
    @include for-tablet {
      max-width: none;
      width: 555px;
    }
    @include for-desktop-HD {
      margin-top: 150px;
    }
  }
  &__photo {
    position: relative;
    width: 340px;
    height: 460px;
    margin: 0px auto;
    @include for-tablet {
      width: 544px;
      height: 734px;
    }
    &-rectangle {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 544px;
    }
    &-man {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 541px;
    }
    &-container {
      display: none;
      @include for-desktop {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        width: 290px;
        height: 150px;
        background-color: var(--white);
        border-radius: 10px;
        margin: {
          top: 628px;
          left: 330px;
        }
      }
    }
  }
}
