@import "../../scss/mixins.scss";
.burger {
  display: block;
  @include for-desktop{
    display: none;
  }
}
.burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
  z-index: 10;
  @include for-desktop {
    display: none;
  }
}

.burger-menu .line {
  background-color: #3A86FF;
  height: 2px;
  width: 20px;
  transition: transform 0.3s, opacity 0.3s;
}

.burger-menu.open .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-menu.open .line:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu {
  background-color: rgb(93, 89, 89);
  height: 100%;
  left: -100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: left 0.3s;
  width: 100%;
  z-index: 9;
  padding-top: 50px;
}

.menu.open {
  left: 0;
}
